<!DOCTYPE html>
<html>
  <head>
    <title>web application</title>
    <style>
      h1 {
        font-family:MV Boli;
        color: rgb(0,145,255);
        text-align:center;
      }
      #container{
        max-width: 720px;
        margin:0 auto 0 auto;
      }
    </style>
  </head>
  <body>
    <div id='container'>
      <h1>Welcome to the game</h1>
      <img src="https://webapplication.degentekle.repl.co/static/pic0.jpg" height="500">
      <p>(press F11 to have a more immersive experience)</p>
      <button>Push to play</button>
    </div>
  </body>
</html>